{{#if active}}
    <section id="attachmentMechanism{{ id }}" class="feedback-mechanism feedback-col {{../labelPositioning}} {{cssClass}} attachment-type"
             style="width: {{boxWidth}}; padding-left: {{boxPaddingLeft}}; padding-right: {{boxPaddingRight}};">
        <p style="{{#if mandatory}}{{ ../mandatoryLabelStyle }}{{/if}}">{{ title }}{{#if mandatory }} {{ ../mandatorySign }}{{/if}}</p>

        <article class="file-upload-box drop-area">
            <input type="file" name="files[]" id="file" multiple/>
            <label for="file"><strong>{{t "attachment.choose_file" }}</strong><span> {{t "attachment.drop_file" }}</span>.</label>
        </article>

        <table class="current-files">

        </table>

    </section>
{{/if}}