{{#if active}}
    <section id="audioMechanism{{ id }}" class="feedback-mechanism {{parent.labelPositioning}} audio-type">
        <p style="{{#if mandatory}}{{ parent.mandatoryLabelStyle }}{{/if}}">{{ title }}{{#if mandatory }} {{ parent.mandatorySign }}{{/if}}</p>
        <audio controls src="" class="audio"></audio>
        <div class="audio-buttons">
            <a class="record"><img src="{{parent.distPath}}img/ic_mic_none_black_24dp_2x.png" data-default-src="{{parent.distPath}}img/ic_mic_none_black_24dp_2x.png" data-active-src="{{parent.distPath}}img/ic_mic_black_24dp_2x.png" /></a>
            <a class="disabled one pause" title="pause"><img src="{{parent.distPath}}img/ic_pause_circle_outline_black_24dp_2x.png" data-default-src="{{parent.distPath}}img/ic_pause_circle_outline_black_24dp_2x.png" data-active-src="{{parent.distPath}}img/ic_pause_circle_filled_black_24dp_2x.png" /></a>
            <a class="disabled one delete" title="reset"><img src="{{parent.distPath}}img/ic_delete_black_24dp_2x.png" /></a>
            <a class="disabled one replay" title="replay"><img src="{{parent.distPath}}img/ic_play_arrow_black_24dp_2x.png" /></a>
            <a class="download">download</a>
        </div>
    </section>
{{/if}}