{{#if active}}
    <section id="categoryMechanism{{ id }}" class="feedback-mechanism {{../labelPositioning}} category-type">
        <p style="{{#if mandatory}}{{ ../mandatoryLabelStyle }}{{/if}}">{{ title }}{{#if mandatory }} {{ ../mandatorySign }}{{/if}}</p>
        {{#each options}}
            <input type="{{ ../inputType }}" id="option{{ key }}" data-parameter-id="{{id}}" name="category_mechanism_{{ ../id }}"
                   value="{{ key }}">
            <label for="option{{ key }}"> {{ value }}</label> &nbsp;
            {{#if ../breakAfterOption}}
                <br/>
            {{/if}}
        {{/each}}
        {{#if ownAllowed}}
            <label for="ownInput1">{{ ownLabel }}</label>
            <input class="own-category" id="ownInput1" type="text" />
        {{/if}}
    </section>
{{/if}}
