{{#if active}}
    <section id="infoMechanism{{ id }}" class="feedback-mechanism feedback-col {{parent.labelPositioning}} info-type" style="width: {{boxWidth}}; padding-left: {{boxPaddingLeft}}; padding-right: {{boxPaddingRight}};">
        <p>
            {{{ text }}}
        </p>
    </section>
{{/if}}