{{#if active}}
    <section id="ratingMechanism{{ id }}"
             data-mechanism-id="{{ id }}"
             class="feedback-mechanism feedback-col {{parent.labelPositioning}} {{cssClass}} rating-type{{#if mandatory }} mandatory{{/if}}"
             style="width: {{boxWidth}}; padding-left: {{boxPaddingLeft}}; padding-right: {{boxPaddingRight}}; {{mechanismStyle}}">
        <p style="{{parent.generalLabelStyle}}{{#if mandatory}}{{ parent.mandatoryLabelStyle }}{{/if}}" class="rating-text rating-type-label col col-left" data-mechanism-id="{{id}}" data-parameter="title">
            {{ title }}{{#if mandatory }} {{ parent.mandatorySign }}{{/if}}
        </p>
        <p class="rating-input col col-right" data-mandatory-message="{{mandatoryReminder}}">

        </p>
        <div class="clearfix"></div>
    </section>
{{/if}}