{{#if active}}
    <section id="textMechanism{{ id }}"
             data-mechanism-id="{{ id }}" class="feedback-mechanism feedback-col {{parent.labelPositioning}} {{cssClass}} text-type{{#if mandatory }} mandatory{{/if}}{{#if maxLengthStrict}} max-length-strict{{/if}}"
             style="width: {{boxWidth}}; padding-left: {{boxPaddingLeft}}; padding-right: {{boxPaddingRight}}; {{mechanismStyle}}">
        <p class="text-type-label explanation col col-left" style="{{../generalLabelStyle}}{{ labelStyle }}{{#if mandatory}} {{ ../mandatoryLabelStyle }}{{/if}}" data-mechanism-id="{{id}}" data-parameter="label">
            {{ label }}{{#if mandatory }} {{ parent.mandatorySign }}{{/if}}
        </p>

        <article class="col col-right">
                                    <textarea class="validate text-type-text{{#if validationEmail}} email-field{{/if}} "
                                        {{#if mandatory }} data-mandatory="1"
                                              data-mandatory-default-text="{{t "general.mandatory_default_text" }}"
                                              data-mandatory-manual-text="{{ mandatoryReminder }}" {{/if}}
                                              placeholder="{{ hint }}"
                                              data-validation-max-length="{{ maxLength }}"
                                              data-validation-email="{{ validationEmail }}"
                                              style="{{ textareaStyle }}"></textarea>
            <p class="textarea-bottom">
                {{#if clearInput }}
                    <button class="text-type-text-clear"
                            title="{{t "text.text_type_text_clear" }}">x
                    </button>
                {{/if}}
                {{#if maxLengthVisible}}
                    <span class="text-type-max-length">{{ currentLength }}
                        / {{ maxLength }}</span>
                {{/if}}
            </p>
            <div class="clearfix"></div>
        </article>
        <div class="clearfix"></div>
    </section>
{{/if}}