<section id="{{ dialogId }}" class="feedback-container">
    <form>
        <section class="pages-container">
            <article data-feedback-page="1" class="feedback-page">
                {{#if textMechanism.active}}
                    <section class="feedback-mechanism horizontal text-type">
                        <p class="text-type-label explanation col col-left" style="{{ textMechanism.labelStyle }}">
                            {{ textMechanism.label }}
                        </p>

                        <article class="col col-right">
                            <textarea class="validate text-type-text"
                            {{#if textMechanism.mandatory }} data-mandatory="1"
                                  data-mandatory-validate-on-skip="{{ textMechanism.validateOnSkip }}"
                                  data-mandatory-default-text="{{t "general.mandatory_default_text" }}"
                                  data-mandatory-manual-text="{{ textMechanism.mandatoryReminder }}" {{/if}}
                                  placeholder="{{ textMechanism.hint }}" data-validation-max-length="{{ textMechanism.maxLength }}"
                                      style="{{ textMechanism.textareaStyle }}"></textarea>
                                <p class="textarea-bottom">
                                    {{#if textMechanism.clearInput }}
                                        <button class="text-type-text-clear" title="{{t "text.text_type_text_clear" }}">x</button>
                                    {{/if}}
                                    {{#if textMechanism.maxLengthVisible}}
                                        <span class="text-type-max-length">{{ textMechanism.currentLength }}
                                            / {{ textMechanism.maxLength }}</span>
                                    {{/if}}
                                </p>
                                <div class="clearfix"></div>
                        </article>
                        <div class="clearfix"></div>
                    </section>
                {{/if}}

                {{#if ratingMechanism.active}}
                    <section class="feedback-mechanism horizontal rating-type">
                        <p class="rating-text col col-left">
                            {{ ratingMechanism.title }}
                        </p>
                        <p class="rating-input col col-right">

                        </p>
                        <div class="clearfix"></div>
                    </section>
                {{/if}}

                {{#if screenshotMechanism.active}}
                <section class="feedback-mechanism horizontal screenshot-type">
                    <article class="col col-left">
                        <button class="take-screenshot button small">{{t "screenshot.take_screenshot" }}</button>

                        <div class="screenshot-operations">
                            <button class="screenshot-operation screenshot-draw-rect active">{{t "screenshot.rectangle" }}</button>
                            <button class="screenshot-operation screenshot-draw-fill-rect">{{t "screenshot.blacken" }}</button>
                            <button class="screenshot-operation screenshot-draw-circle">{{t "screenshot.circle" }}</button>
                            <button class="screenshot-operation screenshot-draw-arrow">{{t "screenshot.arrow" }}</button>
                            <button class="screenshot-operation screenshot-draw-freehand">{{t "screenshot.freehand" }}</button>
                            <button class="screenshot-operation screenshot-crop">{{t "screenshot.crop" }}</button>
                            <button class="screenshot-operation screenshot-draw-remove">{{t "screenshot.remove" }}</button>
                            <button class="screenshot-operation screenshot-draw-undo">{{t "screenshot.undo" }}</button>
                        </div>
                    </article>
                    <div class="col col-right screenshot-preview">

                    </div>
                    <div class="clearfix"></div>
                </section>
                {{/if}}

                <button class="button feedback-dialog-forward navigation-button">{{t "general.review_feedback" }}</button>
                <div class="clearfix"></div>
            </article>
            <article data-feedback-page="2" class="feedback-page">
                <div class="clearfix"></div>
                <div class="feedback-review">
                    <h2>{{t "general.review_feedback_title" }}:</h2>
                    <p class="mechanism-review text-review">

                    </p>
                    <p class="mechanism-review rating-review">

                    </p>
                    <p class="mechanism-review screenshot-review">

                    </p>
                </div>
                <section class="dialog-navigation">
                    <button class="button feedback-dialog-backward navigation-button">{{t "general.back" }}</button>
                    <button type="button" class="button navigation-button submit-feedback">{{t "general.feedback_submit_button_title" }}
                    </button>
                    <div class="clearfix"></div>
                    <span class="server-response"></span>
                </section>
            </article>
        </section>
    </form>
</section>