<section id="{{ dialogId }}" class="feedback-library feedback-container">
    <form>
        <section class="pages-container">
            <article data-feedback-page="1" class="feedback-page">

                {{#if feedbackFormTitle}}
                    <h2 class="form-title">{{feedbackFormTitle}}</h2>
                {{/if}}

                {{#compare reviewButtonPosition "top" operator="==="}}
                    <button class="button feedback-dialog-forward navigation-button">{{t
                            "general.review_feedback" }}</button>
                    <div class="clearfix"></div>
                {{/compare}}

                <div class="feedback-row">
                    {{#each mechanisms}}
                        {{#compare page 1 operator="==="}}
                            {{#compare type "CATEGORY_TYPE" operator="==="}}
                                {{> partials/category_mechanism parent=../this}}
                            {{/compare}}
                            {{#compare type "AUDIO_TYPE" operator="==="}}
                                {{> partials/audio_mechanism parent=../this}}
                            {{/compare}}
                            {{#compare type "RATING_TYPE" operator="==="}}
                                {{> partials/rating_mechanism parent=../this}}
                            {{/compare}}
                            {{#compare type "ATTACHMENT_TYPE" operator="==="}}
                                {{> partials/attachment_mechanism parent=../this}}
                            {{/compare}}
                            {{#compare type "INFO_TYPE" operator="==="}}
                                {{> partials/info_mechanism parent=../this}}
                            {{/compare}}
                            {{#compare type "TEXT_TYPE" operator="==="}}
                                {{> partials/text_mechanism parent=../this}}
                            {{/compare}}
                            {{#compare type "SCREENSHOT_TYPE" operator="==="}}
                                {{> partials/screenshot_mechanism parent=../this}}
                            {{/compare}}

                            {{#compare ../reviewButtonPosition @index operator="==="}}
                                <button class="button feedback-dialog-forward navigation-button">{{t
                                        "general.review_feedback" }}</button>
                                <div class="clearfix"></div>
                            {{/compare}}

                        {{/compare}}
                    {{/each}}
                    <div class="clearfix"></div>
                </div>

                <div class="button-row" style="{{buttonRowStyle}}">
                    {{#compare reviewButtonPosition "bottom" operator="==="}}
                        <button class="button pull-right feedback-dialog-forward navigation-button">{{t
                                "general.review_feedback" }}</button>
                    {{/compare}}
                    {{#compare reviewButtonPosition undefined operator="==="}}
                        <button class="button pull-right feedback-dialog-forward navigation-button">{{t
                                "general.review_feedback" }}</button>
                    {{/compare}}
                    {{#compare reviewButtonPosition null operator="==="}}
                        <button class="button pull-right feedback-dialog-forward navigation-button">{{t
                                "general.review_feedback" }}</button>
                    {{/compare}}

                    {{#if discardAsButton }}
                        <button class="{{discardClass}} button discard-feedback">{{t
                                "general.discard_feedback" }}</button>
                    {{else}}
                        <a class="{{discardClass}} discard-feedback">{{t "general.discard_feedback" }}</a>
                    {{/if}}
                </div>
                <div class="clearfix"></div>
            </article>
            <article data-feedback-page="2" class="feedback-page">
                <div class="clearfix"></div>
                <div class="feedback-review" style="{{ reviewStyle }}">
                    <h2>{{t "general.review_feedback_title" }}:</h2>
                    <p class="mechanism-review text-review">

                    </p>
                    <p class="mechanism-review rating-review">

                    </p>
                    <p class="mechanism-review audio-review">

                    </p>
                    <p class="mechanism-review screenshot-review">

                    </p>
                    <p class="mechanism-review attachment-review">

                    </p>

                    {{#each mechanisms}}
                        {{#compare type "CATEGORY_TYPE" operator="==="}}
                            {{#if active}}
                                {{#compare page "review" operator="!="}}
                                    <p class="mechanism-review category-review">
                                        <i>{{ title }}</i>
                                        {{#each options}}
                                            <input type="{{ ../inputType }}" id="reviewoption{{ key }}"
                                                   name="category_mechanism_review_{{ ../id }}"
                                                   value="review{{ key }}" disabled>
                                            <label for="reviewOption{{ key }}"> {{ value }}</label> &nbsp;
                                        {{/each}}
                                    </p>
                                {{/compare}}
                            {{/if}}
                        {{/compare}}
                    {{/each}}
                </div>
                <div class="review-page-mechanisms">
                    {{#each mechanisms}}
                        {{#compare page "review" operator="==="}}
                            {{#compare type "CATEGORY_TYPE" operator="==="}}
                                {{> partials/category_mechanism parent=../this}}
                            {{/compare}}
                            {{#compare type "AUDIO_TYPE" operator="==="}}
                                {{> partials/audio_mechanism parent=../this}}
                            {{/compare}}
                            {{#compare type "RATING_TYPE" operator="==="}}
                                {{> partials/rating_mechanism parent=../this}}
                            {{/compare}}
                            {{#compare type "ATTACHMENT_TYPE" operator="==="}}
                                {{> partials/attachment_mechanism parent=../this}}
                            {{/compare}}
                            {{#compare type "INFO_TYPE" operator="==="}}
                                {{> partials/info_mechanism parent=../this}}
                            {{/compare}}
                            {{#compare type "TEXT_TYPE" operator="==="}}
                                {{> partials/text_mechanism parent=../this}}
                            {{/compare}}
                            {{#compare type "SCREENSHOT_TYPE" operator="==="}}
                                {{> partials/screenshot_mechanism parent=../this}}
                            {{/compare}}
                        {{/compare}}
                    {{/each}}
                </div>
                {{#if submissionPageMessage }}
                    <p class="submission-message">
                        {{ submissionPageMessage }}
                    </p>
                {{/if}}
                <section>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="alert alert-success" role="alert">
                                Set your feedback as public if you want it to be published in the Feedback Forum!
                            </div>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkPublic" value="public" checked="checked">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Feedback public</span>
                            </label>
                            <div class="alert alert-danger" role="alert">
                                <i>Hint: </i> Your feedback will only be published upon approval through the company!
                            </div>
                        </div>
                    </div>
                </section>
                <section class="dialog-navigation">
                    <button class="button feedback-dialog-backward navigation-button">{{t "general.back" }}</button>
                    <button type="button"
                            class="button navigation-button submit-feedback">{{t
                            "general.feedback_submit_button_title" }}
                    </button>
                    <div class="clearfix"></div>
                    <span class="server-response"></span>
                </section>
            </article>
        </section>
    </form>
</section>