<section id="{{ dialogId }}" class="feedback-library feedback-container">
    <form>
        <section class="pages-container">
            <article data-feedback-page="1" class="feedback-page">

                {{#if feedbackFormTitle}}
                    <h2 class="form-title">{{feedbackFormTitle}}</h2>
                {{/if}}

                {{#compare reviewButtonPosition "top" operator="==="}}
                    <button class="button feedback-dialog-forward navigation-button">{{t "general.review_feedback" }}</button>
                    <div class="clearfix"></div>
                {{/compare}}

                <div class="feedback-row">
                    {{#each mechanisms}}
                        {{#compare type "CATEGORY_TYPE" operator="==="}}
                            {{> partials/category_mechanism parent=../this}}
                        {{/compare}}
                        {{#compare type "AUDIO_TYPE" operator="==="}}
                            {{> partials/audio_mechanism parent=../this}}
                        {{/compare}}
                        {{#compare type "RATING_TYPE" operator="==="}}
                            {{> partials/rating_mechanism parent=../this}}
                        {{/compare}}
                        {{#compare type "ATTACHMENT_TYPE" operator="==="}}
                            {{> partials/attachment_mechanism parent=../this}}
                        {{/compare}}
                        {{#compare type "TEXT_TYPE" operator="==="}}
                            {{#if active}}
                                <section id="textMechanism{{ id }}" class="feedback-mechanism feedback-col {{../labelPositioning}} text-type{{#if mandatory }} mandatory{{/if}}{{#if maxLengthStrict}} max-length-strict{{/if}}"
                                         style="width: {{boxWidth}}; padding-left: {{boxPaddingLeft}}; padding-right: {{boxPaddingRight}};">
                                    <p class="text-type-label explanation col col-left" style="{{../generalLabelStyle}}{{ labelStyle }}{{#if mandatory}} {{ ../mandatoryLabelStyle }}{{/if}}">
                                        {{ label }}{{#if mandatory }} {{ ../mandatorySign }}{{/if}}
                                    </p>

                                    <article class="col col-right">
                                <textarea class="validate text-type-text"
                                    {{#if mandatory }} data-mandatory="1"
                                          data-mandatory-default-text="{{t "general.mandatory_default_text" }}"
                                          data-mandatory-manual-text="{{ mandatoryReminder }}" {{/if}}
                                          placeholder="{{ hint }}"
                                          data-validation-max-length="{{ maxLength }}"
                                          data-validation-email="{{ validationEmail }}"
                                          style="{{ textareaStyle }}"></textarea>
                                        <p class="textarea-bottom">
                                            {{#if clearInput }}
                                                <button class="text-type-text-clear"
                                                        title="{{t "text.text_type_text_clear" }}">x
                                                </button>
                                            {{/if}}
                                            {{#if maxLengthVisible}}
                                                <span class="text-type-max-length">{{ currentLength }}
                                                    / {{ maxLength }}</span>
                                            {{/if}}
                                        </p>
                                        <div class="clearfix"></div>
                                    </article>
                                    <div class="clearfix"></div>
                                </section>
                            {{/if}}
                        {{/compare}}
                        {{#compare type "SCREENSHOT_TYPE" operator="==="}}
                            {{!-- {{#if active}} --}}
                                <section id="screenshotMechanism{{ id }}"
                                         class="feedback-mechanism feedback-col horizontal screenshot-type" style="width: {{boxWidth}}; padding-left: {{boxPaddingLeft}}; padding-right: {{boxPaddingRight}};">
                                    <article class="col col-left">
                                        <button class="take-screenshot button screenshot"
                                                data-default-text="{{#if screenshotTakeButtonTitle}}{{screenshotTakeButtonTitle}}{{else}}{{t "screenshot.take_screenshot" }}{{/if}}"
                                                data-active-text="{{#if screenshotTakeNewButtonTitle}}{{screenshotTakeNewButtonTitle}}{{else}}{{t "screenshot.take_new_screenshot" }}{{/if}}">
                                            {{#if screenshotTakeButtonTitle}}{{screenshotTakeButtonTitle}}{{else}}{{t "screenshot.take_screenshot" }}{{/if}}
                                        </button>

                                        <div class="screenshot-operations">
                                            <button class="button screenshot-draw-remove screenshot"
                                                    title="{{#if screenshotRemoveButtonTitle}}{{screenshotRemoveButtonTitle}}{{else}}{{t "screenshot.remove" }}{{/if}}">
                                                {{#if screenshotRemoveButtonTitle}}{{screenshotRemoveButtonTitle}}{{else}}{{t "screenshot.remove" }}{{/if}}
                                            </button>

                                            <p style="{{../generalLabelStyle}}">{{zoomTitle}}</p>
                                            <img class="zoom-in" title="Zoom"
                                                 src="{{../distPath}}img/ic_zoom_in_black_24dp_2x.png"/>
                                            <img class="zoom-out" title="Zoom"
                                                 src="{{../distPath}}img/ic_zoom_out_black_24dp_2x.png"/>


                                            <!--[if IE]>
                                            <style>
                                                .hide-ie {
                                                    display: none;
                                                }
                                            </style>
                                            <![endif]-->
                                            <p style="{{../generalLabelStyle}}">{{t "screenshot.crop" }}</p>
                                            <button class="screenshot-operation screenshot-crop"
                                                    title="{{t "screenshot.crop" }}"><img
                                                    src="{{../distPath}}img/ic_crop_black_24dp_2x.png"
                                                    alt="{{t "screenshot.crop" }}"/></button>
                                            <button class="screenshot-operation default-hidden screenshot-crop-cancel"
                                                    title="{{t "general.cancel" }}"><img
                                                    src="{{../distPath}}img/ic_clear_black_24dp_2x.png"
                                                    alt="{{t "general.cancel" }}"/></button>
                                            <button class="screenshot-operation default-hidden screenshot-crop-confirm"
                                                    title="{{t "screenshot.crop" }}"><img
                                                    src="{{../distPath}}img/ic_done_black_24dp_2x.png"
                                                    alt="{{t "screenshot.crop" }}"/></button>
                                            <button class="screenshot-operation default-hidden screenshot-draw-undo"
                                                    title="{{t "screenshot.undo" }}"><img
                                                    src="{{../distPath}}img/ic_undo_black_24dp_2x.png"
                                                    alt="{{t "screenshot.undo" }}"/></button>

                                            <p class="annotations-heading" style="{{../generalLabelStyle}}">{{annotationsTitle}}</p>
                                            {{#if annotationExplanation }}
                                                <small>{{ annotationExplanation }}</small>
                                            {{/if}}
                                            <img class="sticker-source svg-sticker-source hide-ie" title="{{ sentimentSatisfiedMouseover }}"
                                                 src="{{../distPath}}img/ic_sentiment_satisfied_black_24px.svg"/>
                                            <img class="sticker-source svg-sticker-source hide-ie" title="{{ sentimentDissatisfiedMouseover }}"
                                                 src="{{../distPath}}img/ic_sentiment_dissatisfied_black_24px.svg"/>
                                            <img class="sticker-source object-source arrow hide-ie" title="{{ arrowMouseover }}"
                                                 src="{{../distPath}}img/ic_arrow_forward_black_24px.svg"/>
                                            <img class="sticker-source object-source circle hide-ie" title="{{ circleMouseover }}"
                                                 src="{{../distPath}}img/ic_panorama_fish_eye_black_24px.svg"/>
                                            <img class="sticker-source object-source rect hide-ie" title="{{ rectMouseover }}"
                                                 src="{{../distPath}}img/ic_crop_din_black_24px.svg"/>
                                            <img class="sticker-source object-source fillRect hide-ie" title="{{ filledRectMouseover }}"
                                                 src="{{../distPath}}img/ic_stop_black_24px.svg"/>
                                            <img class="sticker-source svg-sticker-source hide-ie" title="{{ thumbUpMouseover }}"
                                                 src="{{../distPath}}img/ic_thumb_up_black_24px.svg"/>
                                            <img class="sticker-source svg-sticker-source hide-ie" title="{{ thumbDownMouseover }}"
                                                 src="{{../distPath}}img/ic_thumb_down_black_24px.svg"/>
                                            <img class="sticker-source svg-sticker-source text hide-ie" title="{{ textMouseover }}"
                                                 src="{{../distPath}}img/ic_title_black_24px.svg"/>
                                            <img class="freehand" title="{{ freehandMouseover }}"
                                                 src="{{../distPath}}img/ic_gesture_black_24px.svg" />

                                            <article class="selected-object-controls">
                                                <p>Selection</p>
                                                <a class="delete"><i class="material-icons">delete</i></a>
                                                &nbsp;
                                                <a class="color"><i
                                                        class="material-icons">format_color_fill</i></a>
                                                <input class="text-size" type="text">
                                            </article>
                                            <article class="freehand-controls">
                                                <p>Color</p>
                                                <a class="freehand-color"><i class="material-icons">format_color_fill</i></a>
                                            </article>
                                        </div>
                                    </article>
                                    <div class="col col-right screenshot-preview">

                                    </div>
                                    <div class="hidden-preview">

                                    </div>
                                    <div class="clearfix"></div>
                                </section>
                            {{!-- {{/if}} --}}
                        {{/compare}}

                        {{#compare ../reviewButtonPosition @index operator="==="}}
                            <button class="button feedback-dialog-forward navigation-button">{{t "general.review_feedback" }}</button>
                            <div class="clearfix"></div>
                        {{/compare}}

                    {{/each}}
                    <div class="clearfix"></div>
                </div>

                <div class="button-row" style="{{buttonRowStyle}}">
                    {{#compare reviewButtonPosition "bottom" operator="==="}}
                        <button class="button pull-right feedback-dialog-forward navigation-button">{{t "general.review_feedback" }}</button>
                    {{/compare}}
                    {{#compare reviewButtonPosition undefined operator="==="}}
                        <button class="button pull-right feedback-dialog-forward navigation-button">{{t "general.review_feedback" }}</button>
                    {{/compare}}
                    {{#compare reviewButtonPosition null operator="==="}}
                        <button class="button pull-right feedback-dialog-forward navigation-button">{{t "general.review_feedback" }}</button>
                    {{/compare}}

                    {{#if discardAsButton }}
                        <button class="{{discardClass}} button discard-feedback">{{t "general.discard_feedback" }}</button>
                    {{else}}
                        <a class="{{discardClass}} discard-feedback">{{t "general.discard_feedback" }}</a>
                    {{/if}}
                </div>
                <div class="clearfix"></div>
            </article>
            <article data-feedback-page="2" class="feedback-page">
                <div class="clearfix"></div>
                <div class="feedback-review" style="{{ reviewStyle }}">
                    <h2>{{t "general.review_feedback_title" }}:</h2>
                    <p class="mechanism-review text-review">

                    </p>
                    <p class="mechanism-review rating-review">

                    </p>
                    <p class="mechanism-review audio-review">

                    </p>
                    <p class="mechanism-review screenshot-review">

                    </p>
                    <p class="mechanism-review attachment-review">

                    </p>

                    {{#each mechanisms}}
                        {{#compare type "CATEGORY_TYPE" operator="==="}}
                            {{#if active}}
                                <p class="mechanism-review category-review">
                                    <i>{{ title }}</i>
                                    {{#each options}}
                                        <input type="{{ ../inputType }}" id="reviewoption{{ key }}"
                                               name="category_mechanism_review_{{ ../id }}"
                                               value="review{{ key }}" disabled>
                                        <label for="reviewOption{{ key }}"> {{ value }}</label> &nbsp;
                                    {{/each}}
                                </p>
                            {{/if}}
                        {{/compare}}
                    {{/each}}
                </div>
                {{#if submissionPageMessage }}
                    <p class="submission-message">
                        {{ submissionPageMessage }}
                    </p>
                {{/if}}
                <section class="dialog-navigation">
                    <button class="button feedback-dialog-backward navigation-button">{{t "general.back" }}</button>
                    <button type="button"
                            class="button navigation-button submit-feedback">{{t "general.feedback_submit_button_title" }}
                    </button>
                    <div class="clearfix"></div>
                    <span class="server-response"></span>
                </section>
            </article>
        </section>
    </form>
</section>