<section id="{{ dialogId }}" class="feedback-container">
    <form>
        <section class="pages-container">
            <article data-feedback-page="1" class="feedback-page">

                {{#each mechanisms}}
                    {{#compare type "CATEGORY_TYPE" operator="==="}}
                        {{> partials/category_mechanism}}
                    {{/compare}}
                    {{#compare type "RATING_TYPE" operator="==="}}
                        {{> partials/rating_mechanism}}
                    {{/compare}}
                    {{#compare type "AUDIO_TYPE" operator="==="}}
                        {{> partials/audio_mechanism}}
                    {{/compare}}
                    {{#compare type "ATTACHMENT_TYPE" operator="==="}}
                        {{> partials/attachment_mechanism}}
                    {{/compare}}
                    {{#compare type "TEXT_TYPE" operator="==="}}
                        {{#if active}}
                            <section id="textMechanism{{ id }}" class="feedback-mechanism horizontal text-type">
                                <p class="text-type-label explanation col col-left" style="{{ labelStyle }}">
                                    {{ label }}
                                </p>

                                <article class="col col-right">
                            <textarea class="validate text-type-text"
                                {{#if mandatory }} data-mandatory="1"
                                      data-mandatory-validate-on-skip="{{ validateOnSkip }}"
                                      data-mandatory-default-text="{{t "general.mandatory_default_text" }}"
                                      data-mandatory-manual-text="{{ mandatoryReminder }}" {{/if}}
                                      placeholder="{{ hint }}"
                                      data-validation-max-length="{{ maxLength }}"
                                      style="{{ textareaStyle }}"></textarea>
                                    <p class="textarea-bottom">
                                        {{#if clearInput }}
                                            <button class="text-type-text-clear" title="{{t "text.text_type_text_clear" }}">x
                                            </button>
                                        {{/if}}
                                        {{#if maxLengthVisible}}
                                            <span class="text-type-max-length">{{ currentLength }}
                                                / {{ maxLength }}</span>
                                        {{/if}}
                                    </p>
                                    <div class="clearfix"></div>
                                </article>
                                <div class="clearfix"></div>
                            </section>
                        {{/if}}
                    {{/compare}}
                    {{#compare type "SCREENSHOT_TYPE" operator="==="}}
                        {{#if active}}
                            <section id="screenshotMechanism{{ id }}" class="feedback-mechanism horizontal screenshot-type">
                                <article class="col col-left">
                                    <button class="take-screenshot button small">{{t "screenshot.take_screenshot" }}</button>

                                    <div class="screenshot-operations">
                                        <p>{{t "screenshot.actions" }}</p>
                                        <button class="screenshot-operation screenshot-draw-rect" title="{{t "screenshot.rectangle" }}"><img src="dist/img/ic_check_box_outline_blank_black_24dp_2x.png" alt="{{t "screenshot.rectangle" }}" /></button>
                                        <button class="screenshot-operation screenshot-draw-fill-rect" title="{{t "screenshot.blacken" }}"><img src="dist/img/ic_view_compact_black_24dp_2x.png" alt="{{t "screenshot.blacken" }}" /></button>
                                        <button class="screenshot-operation screenshot-draw-circle" title="{{t "screenshot.circle" }}"><img src="dist/img/ic_radio_button_unchecked_black_24dp_2x.png" alt="{{t "screenshot.circle" }}" /></button>
                                        <button class="screenshot-operation screenshot-draw-arrow" title="{{t "screenshot.arrow" }}"><img src="dist/img/ic_arrow_forward_black_24dp_2x.png" alt="{{t "screenshot.arrow" }}" /></button>
                                        <button class="screenshot-operation screenshot-draw-freehand" title="{{t "screenshot.freehand" }}"><img src="dist/img/ic_gesture_black_24dp_2x.png" alt="{{t "screenshot.freehand" }}" /></button>
                                        <button class="screenshot-operation screenshot-crop" title="{{t "screenshot.crop" }}"><img src="dist/img/ic_crop_black_24dp_2x.png" alt="{{t "screenshot.crop" }}" /></button>
                                        <button class="screenshot-operation screenshot-text" title="{{t "screenshot.text" }}"><img src="dist/img/ic_comment_black_24dp_2x.png" alt="{{t "screenshot.text" }}" /></button>
                                        <button class="screenshot-operation screenshot-text-2" title="{{t "screenshot.text" }}"><img src="dist/img/ic_title_black_24dp_2x.png" alt="{{t "screenshot.text" }}" /></button>
                                        <button class="screenshot-operation screenshot-draw-remove" title="{{t "screenshot.remove" }}"><img src="dist/img/ic_clear_black_24dp_2x.png" alt="{{t "screenshot.remove" }}" /></button>
                                        <button class="screenshot-operation screenshot-draw-undo" title="{{t "screenshot.undo" }}"><img src="dist/img/ic_undo_black_24dp_2x.png" alt="{{t "screenshot.undo" }}" /></button>
                                        <br />
                                        <p>{{t "screenshot.stickers" }}</p>
                                        <button class="screenshot-operation sticking"><img
                                                src="dist/img/ic_mood_black_24dp_2x.png" alt="I like that"/></button>
                                        <button class="screenshot-operation sticking"><img
                                                src="dist/img/ic_mood_bad_black_24dp_2x.png" alt="I dislike that"/></button>
                                        <button class="screenshot-operation sticking"><img
                                                src="dist/img/ic_thumb_up_black_24dp_2x.png" alt="Thumb up"/></button>
                                        <button class="screenshot-operation sticking"><img
                                                src="dist/img/ic_thumb_down_black_24dp_2x.png" alt="Thumb down"/></button>
                                    </div>
                                </article>
                                <div class="col col-right screenshot-preview">

                                </div>
                                <div class="hidden-preview">

                                </div>
                                <div class="clearfix"></div>
                            </section>
                        {{/if}}
                    {{/compare}}
                {{/each}}

                <button class="button feedback-dialog-forward navigation-button">{{t "general.review_feedback" }}</button>
                <div class="clearfix"></div>
            </article>
            <article data-feedback-page="2" class="feedback-page">
                <div class="clearfix"></div>
                <div class="feedback-review">
                    <h2>{{t "general.review_feedback_title" }}:</h2>
                    <p class="mechanism-review text-review">

                    </p>
                    <p class="mechanism-review rating-review">

                    </p>
                    <p class="mechanism-review screenshot-review">

                    </p>
                    <p class="mechanism-review audio-review">

                    </p>
                    <p class="mechanism-review attachment-review">

                    </p>

                    {{#each mechanisms}}
                        {{#compare type "CATEGORY_TYPE" operator="==="}}
                            {{#if active}}
                                <p class="mechanism-review category-review">
                                    <i>{{ title }}</i>
                                    {{#each options}}
                                        <input type="{{ ../inputType }}" id="reviewoption{{ key }}" name="category_mechanism_{{ ../id }}"
                                               value="review{{ key }}" disabled>
                                        <label for="reviewOption{{ key }}"> {{ value }}</label> &nbsp;
                                    {{/each}}
                                </p>
                            {{/if}}
                        {{/compare}}
                    {{/each}}
                </div>
                <section class="dialog-navigation">
                    <button class="button feedback-dialog-backward navigation-button">{{t "general.back" }}</button>
                    <button type="button"
                            class="button navigation-button submit-feedback">{{t "general.feedback_submit_button_title" }}
                    </button>
                    <div class="clearfix"></div>
                    <span class="server-response"></span>
                </section>
            </article>
        </section>
    </form>
</section>