<section id="feedbackContainer">
    <form>
        <section class="pages-container">
            <article data-feedback-page="1" class="feedback-page">
                {{#if textMechanism.active}}
                    <section class="feedback-mechanism horizontal" id="textType">
                        <p id="textTypeLabel" class="explanation col col-left" style="{{ textMechanism.labelStyle }}">
                            {{ textMechanism.label }}
                        </p>

                        <article class="col col-right">
                            <textarea class="validate"
                            {{#if textMechanism.mandatory }} data-mandatory="1"
                                  data-mandatory-validate-on-skip="{{ textMechanism.validateOnSkip }}"
                                  data-mandatory-default-text="{{t "general.mandatory_default_text" }}"
                                  data-mandatory-manual-text="{{ textMechanism.mandatoryReminder }}" {{/if}}
                                  placeholder="{{ textMechanism.hint }}" id="textTypeText"
                                  style="{{ textMechanism.textareaStyle }}"></textarea>
                                <p class="textarea-bottom">
                                    {{#if textMechanism.clearInput }}
                                        <button id="textTypeTextClear" title="{{t "text.text_type_text_clear" }}">x</button>
                                    {{/if}}
                                    {{#if textMechanism.maxLengthVisible}}
                                        <span id="textTypeMaxLength">{{ textMechanism.currentLength }}
                                            / {{ textMechanism.maxLength }}</span>
                                    {{/if}}
                                </p>
                                <div class="clearfix"></div>
                        </article>
                        <div class="clearfix"></div>
                    </section>
                {{/if}}

                {{#if ratingMechanism.active}}
                    <section class="feedback-mechanism horizontal" id="ratingType">
                        <p class="rating-text col col-left">
                            {{ ratingMechanism.title }}
                        </p>
                        <p class="rating-input col col-right">

                        </p>
                        <div class="clearfix"></div>
                    </section>
                {{/if}}

                {{#if screenshotMechanism.active}}
                <section class="feedback-mechanism horizontal" id="screenshotType">
                    <article class="col col-left">
                        <button id="takeScreenshot" class="button small">{{t "screenshot.take_screenshot" }}</button>

                        <div class="screenshot-operations">
                            <button id="screenshotDrawRect" class="screenshot-operation active">{{t "screenshot.rectangle" }}</button>
                            <button id="screenshotDrawFillRect" class="screenshot-operation">{{t "screenshot.blacken" }}</button>
                            <button id="screenshotDrawCircle" class="screenshot-operation">{{t "screenshot.circle" }}</button>
                            <button id="screenshotDrawArrow" class="screenshot-operation">{{t "screenshot.arrow" }}</button>
                            <button id="screenshotDrawFreehand" class="screenshot-operation">{{t "screenshot.freehand" }}</button>
                            <button id="screenshotCrop" class="screenshot-operation">{{t "screenshot.crop" }}</button>
                            <button id="screenshotDrawUndo" class="screenshot-operation">{{t "screenshot.undo" }}</button>
                            <button id="screenshotDrawRemove" class="screenshot-operation">{{t "screenshot.remove" }}</button>
                        </div>
                    </article>
                    <div id="screenshotPreview" class="col col-right">

                    </div>
                    <div class="clearfix"></div>
                </section>
                {{/if}}

                <button class="button feedback-dialog-forward navigation-button">{{t "general.review_feedback" }}</button>
                <div class="clearfix"></div>
            </article>
            <article data-feedback-page="2" class="feedback-page">
                <div class="clearfix"></div>
                <div id="feedbackReview">
                    <h2>{{t "general.review_feedback_title" }}:</h2>
                    <p id="textReview" class="mechanism-review">

                    </p>
                    <p id="ratingReview" class="mechanism-review">

                    </p>
                    <p id="screenshotReview" class="mechanism-review">

                    </p>
                </div>
                <section class="dialog-navigation">
                    <button class="button feedback-dialog-backward navigation-button">{{t "general.back" }}</button>
                    <button type="button" class="button navigation-button" id="submitFeedback">{{t "general.feedback_submit_button_title" }}
                    </button>
                    <div class="clearfix"></div>
                    <span id="serverResponse"></span>
                </section>
            </article>
        </section>
    </form>
</section>